html {
  font-family: sans-serif;
}

div {
  padding: 3px;
}

.hourly-forecast {
  height: 250px;
  overflow: scroll;
}

.hour div {
  display: inline-block;
}

.daily-forecast div {
  display: inline-block;
}

.day div {
  display: block;
}

.day-temp div {
  display: inline-block;
}


/**/ Temperature scale

.temp-0 { color: #E3F2FD; }
.temp-1 { color: #BBDEFB; }
.temp-2 { color: #90CAF9; }
.temp-3 { color: #64B5F6; }
.temp-4 { color: #42A5F5; }
.temp-5 { color: #2196F3; }
.temp-6 { color: #FFCC80; }
.temp-7 { color: #FFB74D; }
.temp-8 { color: #FF7043; }
.temp-9 { color: #F4511E; }
.temp-10 { color: #D84315; }

/**/ Loading screen

.ball {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
  animation: 2s bounce ease infinite;
}

.white {
  background-color: #E3F2FD;
}

.blue {
  background-color: #42A5F5;
  animation-delay: .25s;
}

.yellow {
  background-color: #FFB74D;
  animation-delay: .5s;
}

.red {
  background-color:#D84315;
  animation-delay: .75s;
}

@keyframes bounce {
    50% {
        transform: translateY(25px);
    }
}
